/*Lines from now till next comment, are applied the whole website. Later lines are for particular elements
Section, class or ID which line applies to, is specified before "{". Line is started with "{" and finished with "}"*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: #d9dcd6;
}
/*Sections from this comment till next comment, are for the top part of the website, Logo and links */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
header h1 {
    display: inline-block;
    font-size: 48px;
}
header h1 .seo {
    color: #d9dcd6;
}
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
header nav ul {
    list-style-type: none;
}
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
/*Next line is for links only*/
a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}
/*Next line adds a background and specifies the way how to show it*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/*Lines from this comment till next comment, specifies elements on the main, left side of the website, along with a photos attached*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;   
}
.content-left {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
.content-left img {
    max-height: 200px;
}
.content-left h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*Next two lines are meant to move the photos in the main section to the left side, or right side of the main part of the website*/
.float-left {
    float: left;
    margin-right: 25px;
}
.float-right {
    float: right;
    margin-left: 25px;
}
/*Lines from this comment till next comment are for the right-hand-side bar on the website*/
.benefits {
    color: #ffffff;
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
.benefit{
    margin-bottom: 32px;
}
.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}
.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*The last two lines are applied to website's footer*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
footer h2 {
    font-size: 20px;
}